#dice-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.newDie {
    font-weight: bold;
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: 3px solid #73AD21;
    margin: 6px;
    border-radius: 25px;
    background: orange;
    color: #73AD21;
    font-size: xxx-large;
    font-family: monospace;
}

  


